In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4), ['A','B','C','D','E'],['W', 'X', 'Y', 'Z'])

In [6]:
#DataFrames are a group of Series that shares an index
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [7]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [9]:
type(df['W'])

pandas.core.series.Series

In [10]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [24]:
df['-Z'] = df['Y'] + df['Z']

In [14]:
df

          W         X         Y         Z        -Z
A  2.706850  0.628133  0.907969  0.503826  1.411795
B  0.651118 -0.319318 -0.848077  0.605965 -0.242112
C -2.018168  0.740122  0.528813 -0.589001 -0.060187
D  0.188695 -0.758872 -0.933237  0.955057  0.021819
E  0.190794  1.978757  2.605967  0.683509  3.289476

In [25]:
#By default it drops the index, axis makes it drop the y axis
#Inplace = True makes it so you are actually working with the orignal table
df.drop('-Z', axis = 1, inplace=True)

In [23]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [26]:
df.drop('E', axis = 0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [27]:
df.shape

(5, 4)

In [28]:
df[['Z', 'X']]

          Z         X
A  0.503826  0.628133
B  0.605965 -0.319318
C -0.589001  0.740122
D  0.955057 -0.758872
E  0.683509  1.978757

In [29]:
#Selecting Rows

In [32]:
# Returns row by label
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [31]:
# Returns row by index
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [33]:
df.loc['B', 'Y']

-0.8480769834036315

In [35]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077