In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {
    'A': [1,2,np.nan],
    'B': [5,np.nan, np.nan],
    'C': [1,2,3]
}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [7]:
# dropna() will drop any row with missing values 
# axis = 1 will drop any columns with missing values
df.dropna(axis = 1)

   C
0  1
1  2
2  3

In [9]:
# Setting the thresh parameter is means that number entered
# is the minimum number of non Nan numbers that the row must
# contain
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [11]:
# df.fillna()
df.fillna(value='Southside')

           A          B  C
0        1.0        5.0  1
1        2.0  Southside  2
2  Southside  Southside  3

In [12]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64